.editor {
  margin: 0!important;
  box-shadow: none!important;
  overflow-x: hidden;
  overflow-y: auto;
}

.editor,
.editor :global(.prism-code),
.editor :global(.prism-code) > code {
  border-radius: 0!important;
}

.editor :global(.prism-code) > code {
  padding-top: 12px;
  padding-bottom: 12px;
}
