.tagNameAndAlias {
  margin-top: calc(
    0.5rem - var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  ) !important;
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.tagNameAndAlias code {
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  font-size: 20px;
  color: var(--ifm-color-emphasis-600);
  vertical-align: top;
}

.alias,
.alias code {
  font-size: 16px;
}

.alias > code + code,
.tagName > :global(.badge) {
  margin-left: 1em;
}
